* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* NavLogo */
.nav-ul {
  text-decoration: none;
  margin-top: 50px;
}

.nav-ul ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 10px;
}

.nav-ul ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: palevioletred;
  color: #fff;
  border: 0.05px solid #fff;
  box-shadow: 0 4px 10px black;
  transition: transform 0.3s ease-in-out;
}

.nav-ul ul li:first-child {
  border-radius: 5px 0 0 5px;
}

.nav-ul ul li:last-child {
  border-radius: 0 5px 5px 0;
}

.nav-ul ul:hover li:nth-child(odd) {
  transform: skewY(15deg);
}

.nav-ul ul:hover li:nth-child(even) {
  transform: skewY(-15deg);
}

/* Card Data */
.list-item{
  margin-right: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;   
}
.cardInfo {
  width: 20%;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
  margin: 20px 20px;
  padding: 10px 10px;
  position: sticky;
  top :200px;
  z-index: 200; 
}

.cardInfo > img {
  width: 180px;
  height: 200px;
}

.cardBtn{
    background-color: palevioletred;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    margin-bottom: 12px;
}


.search-btn {
  padding: 10px 25px;
  border: #fff;
  border-radius: 5px;
  background-color: palevioletred;
  color: #fff;
  margin: 20px 50px;
  cursor: pointer;
  
}
.btns{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: sticky;
  top :100px;
  z-index: 1000;
  background-color: #fff;
}
 /* Shimmer Effect  */
  .shimmer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-mask: linear-gradient(-60deg, rgb(207, 191, 191) 30%, rgba(175, 164, 164, 0.333), rgb(190, 152, 152) 70%) right/350% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
  
  }
  
  .shimmer-img-block {
    height: 10rem;
    width: 15rem;
    background-color: rgba(168, 166, 166, 0.425);
    margin: 2rem;
    margin-bottom: 1rem;
  }
  
  .shimmer-text-block p {
    height: 1.5rem;
    width: 15rem;
    margin: 0.5rem 2rem;
    background-color: rgba(168, 166, 166, 0.425);
    border-radius: 5%;
  }
  
  @keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
  }